body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.3rem;
    background-color: #e0e0e0db;
    background-image: url("/static/gifs/spacebackground.gif");
    color: black;
    margin-left: 10%;
    margin-right: 10%;
  }

footer, main, aside, nav, div {
    border: 2px outset #fff;
    background-color: #e0e0e0db;
    padding: 10px;
    margin: 10px;
    
  }

  header {
    background-color: #00008000;
    color: rgb(16, 222, 122);
    text-align: center;
  }

  .publicidadheader{

    border: 0;
    background-color: #e0e0e000;
    padding: 3px;
    margin: 3px;
  }

  .publicidadheader img {
    max-width: 300px;
    height: 50px;
  }

  nav a {
    color: rgb(3, 86, 46);
    margin: 0 10px;
    font-weight: bold;
  }

  #containerPrincipal {
    display: flex;
  }

  aside.izquierda {
    max-width: 240px;
  }

  aside.derecha {
    max-width: 250px;
    height: 100%;
  }
  
  aside.derecha img {
  width: 100%;

  }

  main {
   width: 80%;
  }

  main img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  }

  footer {
    text-align: center;
    background-color: #000080;
    color: white;
  }

  div.box {
    font-size: large;
    font-weight: 50;
    background-color: #e0e0e0db;
    border: 2px inset #c1c1c1;
    margin: 10px 0;
    padding: 10px;
  }

   div.box img{
    border-radius: 7px;
    max-width: 20%;
  }

   div.box iframe{
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }

  section {
    display: block;
    text-align: center;
    margin-top: 60px;
  }

  section img {
    width: 100%;
    max-width: 180px;
  }

  .buscar {

    border: 2px outset #fff;
    background-color: #e0e0e0db;
    font-family: 'Courier New', monospace;
  }
  
  .input-buscar {
    width: 50%;
    height: 30px;
    border: 2px inset #999;
    background-color: #fff;
    font-family: 'Courier New', monospace;
  }
  
  .boton-buscar {
    height: 33px;
    border: 2px outset #bcbcbc;
    background-color: #C0C0C0;
    font-family: 'Courier New', monospace;
    cursor: pointer;
  }
  
  .formcontacto {
  width: 300px;
  padding: 15px;
  border: 2px outset #c0c0c0;
  background-color: #e0e0e0;
  font-family: 'Courier New', monospace;
  color: black;
  margin: 20px auto;
}

.formcontacto input,
.formcontacto textarea {
  width: 100%;
  background-color: #fff;
  border: 2px inset #ccc;
  padding: 4px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: black;
  box-sizing: border-box;
  max-width: 100%;
}

.formcontacto button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #dcdcdc;
  border: 2px outset #c0c0c0;
  font-family: 'Courier New', monospace;
  cursor: pointer;
}

.save_walter_banner {
  max-width: 100%;
}

.save_walter_boton {
  max-width: 40%;
}

#formEncuesta {
  overflow: scroll;
  font-family: 'Courier New', monospace;
  font-size: 16px;
}
