body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 1.2rem;
    background-color: #e0e0e0db;
    background-image: url("/static/gifs/spacebackground.gif");
    color: black;
    margin-left: 10%;
    margin-right: 10%;
  }

  header h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: wrap;
  }

  footer, main, aside, nav, div {
    border: 2px outset #fff;
    background-color: #e0e0e0db;
    padding: 10px;
    margin: 0px;
    
  }

  header {
    background-color: #00008000;
    color: rgb(16, 222, 122);
    text-align: center;
  }

  .publicidadheader{
    border: 0;
    background-color: #e0e0e000;
    padding: 10px;
  }

  .publicidadheader img {
    max-width: 100%;
    height: 50px;
  }
  nav{
    margin-bottom: 1px;
  }
  nav a {
    color: rgb(3, 86, 46);
    margin: 0 10px;
    font-weight: bold;
  }

  #containerPrincipal {
    display: flex;
  }

  aside.izquierda {
    font-style: italic;
    width: 100%;
    max-width: 240px;
  }

  aside.derecha {
    font-size: 10px;
    text-align: center;
    max-width: 250px;
    height: 100%;
  }
  
  aside.derecha img {
  width: 100%;

  }

  aside.derecha p {
    margin: 1px;
    padding: 1px;
  }

  main {
  margin: 0;
  width: 100%;
  }

  main img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  }

  .publicidadmain {
    margin: 0;
    font-size: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 3px;
    margin: 1px;
  }

  .publicidadmain p {
    margin: 0;
    padding: 0;
  }

  .publicidadmain img {
    display: block;
    margin: 5px auto;
    max-width: 100%;
    height: auto;
  }

  div.box {
    font-size: medium;
    background-color: #e0e0e0db;
    border: 2px inset #c1c1c1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
  }

   div.box iframe{
    display: block;
    margin: 10px auto;
    max-width: 100%;
  }

  .animecontainer {
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 5px;
    border: 0;
    text-align: center;
    white-space: nowrap;
    background-color:#ffffff00;
  }

  .animecontainer img{
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
  }

  .animecontainer .box {
    
    max-width: 600px;
    overflow: hidden ;
  }

  .animecontainer p {
    padding-bottom: 5px;
    overflow-x: auto;    
    overflow-y: hidden;
  }

  footer {
    text-align: center;
    background-color: #000080;
    color: white;
  }

  footer img {
    max-width: 100%;
  }

  section {
    display: block;
    text-align: center;
    margin-top: 60px;
  }

  section img {
    width: 100%;
    max-width: 180px;
  }

  .buscar {

    border: 2px outset #fff;
    background-color: #e0e0e0db;
    font-family: 'Courier New', monospace;
  }
  
  .input-buscar {
    width: 50%;
    height: 30px;
    border: 2px inset #999;
    background-color: #fff;
    font-family: 'Courier New', monospace;
  }
  
  .boton-buscar {
    height: 33px;
    border: 2px outset #bcbcbc;
    background-color: #C0C0C0;
    font-family: 'Courier New', monospace;
    cursor: pointer;
  }
  
  .formcontacto {
  padding: 15px;
  border: 2px outset #c0c0c0;
  background-color: #e0e0e0;
  font-family: 'Courier New', monospace;
  color: black;
  margin: 20px auto;
}

.formcontacto input,
.formcontacto textarea {
  width: 100%;
  background-color: #fff;
  border: 2px inset #ccc;
  padding: 4px;
  font-family: 'Courier New', monospace;
  font-size: 14px;
  color: black;
  box-sizing: border-box;
  resize: none;
  max-width: 100%;
}

.formcontacto button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #dcdcdc;
  border: 2px outset #c0c0c0;
  font-family: 'Courier New', monospace;
  cursor: pointer;
}

.save_walter_banner {
  max-width: 100%;
}

.save_walter_boton {
  max-width: 40%;
}

#formEncuesta {
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

.containermusica {
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

.containermusica audio {
  max-width: 100%;
}

.containermusica img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.asidechico {
  display: none;
}

/* querys */

@media screen and (max-width: 600px) {

  body{
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  div {
    padding: 1px;
  }

  aside.izquierda {
    display: none;
  }

  /* aside.derecha{
    max-width: 70px;
    padding: 5px;
    margin-left: 1px;
  } */

  aside.derecha {
    display: none;
  }

  .publicidadheader img{
    max-height: 50px;
  }

 .asidechico {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin-bottom: 2px;
  padding: 5px;
  text-align: center;
  height: auto;
  overflow: hidden;
}

  .asidechico a {

    color: #000080;
    font-size: small;
  }

  .asidechico img{
    height: 40px;
    margin: 10px;
    max-width: 100%;
    max-height: 100%;
  }

  div.box img{
    max-width: 70%;
  }

  .animecontainer { 
    grid-template-columns: repeat(1, 1fr);
  }

}
